production:
  adapter: postgresql
  encoding: unicode
  database: <%= postgresql_database %>
  pool: 5
  username: <%= postgresql_user %>
  password: <%= postgresql_password %>
  host: <%= postgresql_host %>

development:
  adapter: postgresql
  encoding: unicode
  database: <%= postgresql_database_dev %>
  pool: 5
  username: <%= postgresql_user %>
  password: <%= postgresql_password %>
  host: <%= postgresql_host %>