.main {
	width: 800px;
	padding-top: 10px;
	padding: auto;
	margin: auto;
}


#keywords {
	height: 30px;
	width: 800px;
	border: 1px solid #AAA;
	border-top-color: #999;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 20px;
}

.name {
	color: #12C;
	margin: 0;
	padding: 0;
}

.source {
	color: #093;
	margin: 0;
	padding: 0;
}

.result-wrapper {
	padding-bottom: 25px;
}

.text {
	margin: 0;
	padding: 0;
}

.page_name {
	width: 800px;
	color: #5A5A5A;
	margin-left: auto;
	margin-right: auto;

}

